<h1>Alterações</h1>

<%= form_for(@book, url: edit_book_path) do |f|%>

<div class="form-inputs">
    <div>
        <%= f.text_field :title, :placeholder => "Título" %>
    </div>

    <div>
        <%= f.text_field :author, :placeholder => "Autor" %>
    </div>

    <div>
        <%= f.text_field :year, :placeholder => "Ano" %>
    </div>
    <div>
        <%= f.text_field :description, :placeholder => "Descrição" %>
    </div>

    <div>
        <%= f.select :category_id, @categories %>
    </div>

    <div>
        <% if @book.image.attached? %>
        <%= image_tag @book.image, style: "width:250px; height:350px; display:block" %>
        <% end %>

        <%= f.label :image %>
        <%= f.file_field :image, class: "form-control" %>
    </div>

</div>

<div class="form-actions">
    <%= f.submit "Editar Livro" %>
</div>

<% end %>